[submodule "lib/openvpn"]
	path = lib/openvpn
	url = https://github.com/OpenVPN/openvpn
[submodule "vendor/github.com/duosecurity/duo_api_golang"]
	path = vendor/github.com/duosecurity/duo_api_golang
	url = https://github.com/duosecurity/duo_api_golang
[submodule "vendor/github.com/spf13/viper"]
	path = vendor/github.com/spf13/viper
	url = https://github.com/spf13/viper.git
[submodule "vendor/github.com/spf13/cobra"]
	path = vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra.git
